html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro SC', 'SF Pro Text', 'PingFang SC', 'Helvetica Neue', STHeiti, 'Microsoft Yahei',
        Tahoma, Simsun, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

input,
textarea {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

label {
    -webkit-tap-highlight-color: transparent;
}

// 输入框的 placeholder 文字颜色
input::-webkit-input-placeholder {
    // WebKit, Blink, Edge
    color: #c0c4cc;
}

input::-moz-placeholder {
    // Mozilla Firefox 19+
    color: #c0c4cc;
}

input:-moz-placeholder {
    // Mozilla Firefox 4 to 18
    color: #c0c4cc;
}

input:-ms-input-placeholder {
    // Internet Explorer 10-11
    color: #c0c4cc;
}

// 滚动条样式
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: transparent;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 10px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ccd4d9;
    border: 5px solid rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bac1c6;
    border-width: 4px;
}
